In [1]:
import pandas as pd

In [12]:
sensor_data = pd.read_csv('Dataset/batch1.dat', sep=' ', header=None)

In [14]:
sensor_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Columns: 129 entries, 0 to 128
dtypes: int64(1), object(128)
memory usage: 448.6+ KB

In [15]:
sensor_data.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,1,1:15596.162100,2:1.868245,3:2.371604,4:2.803678,5:7.512213,6:-2.739388,7:-3.344671,8:-4.847512,9:15326.691400,...,119:-1.071137,120:-3.037772,121:3037.039000,122:3.972203,123:0.527291,124:0.728443,125:1.445783,126:-0.545079,127:-0.902241,128:-2.654529
1,1,1:26402.070400,2:2.532401,3:5.411209,4:6.509906,5:7.658469,6:-4.722217,7:-5.817651,8:-7.518333,9:23855.781200,...,119:-1.530519,120:-1.994993,121:4176.445300,122:4.281373,123:0.980205,124:1.628050,125:1.951172,126:-0.889333,127:-1.323505,128:-1.749225
2,1,1:42103.582000,2:3.454189,3:8.198175,4:10.508439,5:11.611003,6:-7.668313,7:-9.478675,8:-12.230939,9:37562.300800,...,119:-2.384784,120:-2.867291,121:5914.668500,122:5.396827,123:1.403973,124:2.476956,125:3.039841,126:-1.334558,127:-1.993659,128:-2.348370
3,1,1:42825.988300,2:3.451192,3:12.113940,4:16.266853,5:39.910056,6:-7.849409,7:-9.689894,8:-11.921704,9:38379.066400,...,119:-2.607199,120:-3.058086,121:6147.474400,122:5.501071,123:1.981933,124:3.569823,125:4.049197,126:-1.432205,127:-2.146158,128:-2.488957
4,1,1:58151.175700,2:4.194839,3:11.455096,4:15.715298,5:17.654915,6:-11.083364,7:-13.580692,8:-16.407848,9:51975.589900,...,119:-3.594763,120:-4.181920,121:8158.644900,122:7.174334,123:1.993808,124:3.829303,125:4.402448,126:-1.930107,127:-2.931265,128:-4.088756

In [33]:
def transform(r):
    d = []
    d.append(r[0])
    for e in r[1:]:
        d.append(e[e.find(':') +1:])
    return pd.Series(data=d, index=r.index)

df = sensor_data.apply(transform, axis=1)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 445 entries, 0 to 444
Columns: 129 entries, 0 to 128
dtypes: int64(1), object(128)
memory usage: 448.6+ KB

In [36]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,1,15596.162100,1.868245,2.371604,2.803678,7.512213,-2.739388,-3.344671,-4.847512,15326.691400,...,-1.071137,-3.037772,3037.039000,3.972203,0.527291,0.728443,1.445783,-0.545079,-0.902241,-2.654529
1,1,26402.070400,2.532401,5.411209,6.509906,7.658469,-4.722217,-5.817651,-7.518333,23855.781200,...,-1.530519,-1.994993,4176.445300,4.281373,0.980205,1.628050,1.951172,-0.889333,-1.323505,-1.749225
2,1,42103.582000,3.454189,8.198175,10.508439,11.611003,-7.668313,-9.478675,-12.230939,37562.300800,...,-2.384784,-2.867291,5914.668500,5.396827,1.403973,2.476956,3.039841,-1.334558,-1.993659,-2.348370
3,1,42825.988300,3.451192,12.113940,16.266853,39.910056,-7.849409,-9.689894,-11.921704,38379.066400,...,-2.607199,-3.058086,6147.474400,5.501071,1.981933,3.569823,4.049197,-1.432205,-2.146158,-2.488957
4,1,58151.175700,4.194839,11.455096,15.715298,17.654915,-11.083364,-13.580692,-16.407848,51975.589900,...,-3.594763,-4.181920,8158.644900,7.174334,1.993808,3.829303,4.402448,-1.930107,-2.931265,-4.088756

In [39]:
import numpy as np
feature_data = df[np.arange(1,129)]

In [41]:
feature_data.head()

,1,2,3,4,5,6,7,8,9,10,...,119,120,121,122,123,124,125,126,127,128
0,15596.162100,1.868245,2.371604,2.803678,7.512213,-2.739388,-3.344671,-4.847512,15326.691400,1.768526,...,-1.071137,-3.037772,3037.039000,3.972203,0.527291,0.728443,1.445783,-0.545079,-0.902241,-2.654529
1,26402.070400,2.532401,5.411209,6.509906,7.658469,-4.722217,-5.817651,-7.518333,23855.781200,2.164706,...,-1.530519,-1.994993,4176.445300,4.281373,0.980205,1.628050,1.951172,-0.889333,-1.323505,-1.749225
2,42103.582000,3.454189,8.198175,10.508439,11.611003,-7.668313,-9.478675,-12.230939,37562.300800,2.840403,...,-2.384784,-2.867291,5914.668500,5.396827,1.403973,2.476956,3.039841,-1.334558,-1.993659,-2.348370
3,42825.988300,3.451192,12.113940,16.266853,39.910056,-7.849409,-9.689894,-11.921704,38379.066400,2.851173,...,-2.607199,-3.058086,6147.474400,5.501071,1.981933,3.569823,4.049197,-1.432205,-2.146158,-2.488957
4,58151.175700,4.194839,11.455096,15.715298,17.654915,-11.083364,-13.580692,-16.407848,51975.589900,3.480866,...,-3.594763,-4.181920,8158.644900,7.174334,1.993808,3.829303,4.402448,-1.930107,-2.931265,-4.088756

In [43]:
target_data = df[np.array([0])]

In [44]:
target_data

     0
0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
10   1
11   1
12   1
13   1
14   1
15   1
16   1
17   1
18   1
19   1
20   1
21   1
22   1
23   1
24   1
25   1
26   1
27   1
28   1
29   1
..  ..
415  6
416  6
417  6
418  6
419  6
420  6
421  6
422  6
423  6
424  6
425  6
426  6
427  6
428  6
429  6
430  6
431  6
432  6
433  6
434  6
435  6
436  6
437  6
438  6
439  6
440  6
441  6
442  6
443  6
444  6

[445 rows x 1 columns]